export(qut,lambdaqut,sigmaqut,sigmarcv,predict.qut)
import(Matrix, glmnet, lars)
importFrom("stats", "coef", "gaussian", "glm", "glm.fit", "lm",
             "median", "predict", "quantile", "rbinom", "rnorm", "rpois",
             "var")
			 
S3method(predict, qut)