export(qut,lambdaqut,sigmaqut,sigmarcv,predict.qut,coef.qut,slimsd)
import(Matrix, glmnet, lars, flare)
importFrom("stats", "coef", "gaussian", "glm", "glm.fit", "lm",
             "median", "predict", "quantile", "rbinom", "rnorm", "rpois",
             "var")
			 
S3method(predict, qut)
S3method(coef, qut)